* {
  margin: 0;
  padding: 0;
  font-family: "Sen", sans-serif;
  letter-spacing: 2px;
}

/* 
theme colors----
background: #161625
color: #007bff
shadow, outline, border: rgb(30, 30, 48)
secondary text: rgb(40, 167, 69) #28a745 -- green
              rgb(255, 7, 58) #ff0730 --red
              rgb(255, 193, 7) --yellow
*/

html,
body {
  background: #222;
  color: #f5f5f5;
  font-family: "Sen", sans-serif;
  letter-spacing: 2px;
  overflow-x: hidden;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  /* justify-content: space-evenly;
  align-items: center; */
}
#container {
  margin: 60px 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
}
#launch {
  width: auto;
  background: rgb(255, 208, 0);
  color: #222;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 30px;
  border: none;
  outline: none;
  text-align: center;
  display: none;
}
#popup {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  width: 80%;
  margin: 5% auto;
  background: #252525;
  padding: 50px;
  /* box-shadow:  5px 5px 10px #181818, 
               -0px -0px 10px #2c2c2c; */
}
#instructions li {
  margin-left: 50px;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 208, 0);
  text-decoration: none;
  cursor: pointer;
}
.list-items {
  line-height: 30px;
  font-size: 18px;
  color: #666;
}

.box {
  margin: 20px;
  padding: 20px 30px;
  border-radius: 25px;
  background: #222;
  box-shadow: 5px 5px 10px #181818, -5px -5px 10px #2c2c2cd8;
}
#canvas {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: baseline;
}

/* ======= styles for canvas element ======= */

#canvas-wrapper {
  padding-top: 50px;
  overflow: scroll;
}

#target {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  vertical-align: middle;
  height: 180px;
  width: 1000px;
  padding: 40px;
  background: #2c2c2c;
  border-radius: 10px;
}

/* ======= canvas ends ======= */

#input {
  grid-column: 1/4;
  grid-row: 2/3;
  padding: 40px;
}
#code {
  grid-column: 3/4;
  grid-row: 1/2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: rgba(255, 208, 0, 0.836);
  font-weight: 700;
  margin: 10px;
  text-shadow: 2px 2px 5px #181818, -2px -2px 5px #2c2c2cd8;
}
#label1 {
  color: rgb(255, 208, 0);
  font-size: 18px;
  transition: 0.8s ease-in;
  text-align: center;
}
#label2 {
  color: rgb(255, 208, 0);
  font-size: 18px;
  transition: 0.8s ease-in;
  text-align: center;
}

/* ========= controls ========= */
.inputs {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input {
  align-items: center;
  background: #2c2c2c;
  width: 70%;
  margin: 10px 20px;
  outline: none;
  border: none;
  padding: 20px 30px;
  border-radius: 20px;
  color: #999;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Sen", sans-serif;
}
.select {
  align-items: center;
  background: #ffee0023;
  margin: 10px 20px;
  outline: none;
  border: none;
  padding: 20px 30px;
  border-radius: 20px;
  color: rgb(255, 208, 0);
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Sen", sans-serif;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
option {
  display: block;
  background: #2c2c2c;
  outline: none;
  border: none;
  padding: 20px 30px;
  color: #ffd000;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Sen", sans-serif;
}
.values {
  letter-spacing: 2px;
}
.btn-container {
  padding: 0px 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  padding: 15px 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
}
.btn:hover {
  transition: 0.5s ease;
  box-shadow: 10px 10px 10px #0e0e0e, -7px -7px 10px #333333d8;
}
.btn-yellow {
  background: rgb(255, 208, 0);
  color: #222;
}
.btn-green {
  background: #28a745;
  color: #eee;
}
.btn-red {
  background: #ff0730;
  color: #eee;
}

#code {
  padding: 20px;
  height: auto;
}
#code-panel {
  height: 500px;
  min-width: 250px;
  margin-top: 30px;
  border-left: 3px solid #333;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 2px;
  font-family: "Sen", sans-serif;
  color: #00b92b;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #444 transparent;
}

/* Scrollbars */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  background: black;
  visibility: hidden;
}
.code-line {
  list-style-type: none;
  padding: 10px;
}
.code-line.active {
  background: #00b92b23;
}
/* .code-line:hover{
  background: #00b92b23;
  padding: 10px;
  transition: 0.5s ease;
  border-radius: 5px;
} */
#l1,
#l2,
#l3,
#l4,
#l5,
#l6,
#l7 {
  border-radius: 5px;
  transition: 0.5s ease;
}

/* ============ draggable div functionality ============= */
.drag {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: move;
}
.drag img {
  display: inline;
  width: 30px;
  margin: 15px;
  cursor: move;
}

.drag:hover,
.drag:focus {
  color: rgb(255, 208, 0);
  text-decoration: none;
  cursor: pointer;
}

.current-step {
  display: block;
  height: 150px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #00b92b;
  background: #00b92b23;
  overflow: scroll;
}

.check {
  margin-top: 10px;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 2px;
  font-family: "Sen", sans-serif;
  background: #ffee0023;
  border-radius: 10px;
}

.hide {
  visibility: hidden;
  display: none;
}
.show {
  visibility: visible;
}

/* ================ Dashboard Data Card like Designs for Live Data =============== */
#step-tracker {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  vertical-align: middle;
  justify-content: space-between;
  height: 400px;
  min-width: 250px;
  margin-top: 30px;
}
.step-box {
  display: flex;
  margin: 10px;
  padding: 20px;
  height: 100px;
  width: inherit;
  border-radius: 20px;
  background: #2c2c2c;
  box-shadow: 5px 5px 10px #181818, -5px -5px 10px #2c2c2cd8;
  transition: background 0.6s ease-in-out;
  animation: flip 1s cubic-bezier(0.07, 0.84, 0.96, 0.23) forwards;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform-origin: 50%;
}
.step-box h3 {
  text-align: left;
  color: #eee;
  font-weight: 400;
  text-shadow: none;
  font-size: 16px;
  line-height: 28px;
}
.box-title .blink {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  text-shadow: 2px 2px 5px #181818, -2px -2px 5px #2c2c2cd8;
}
#start-step {
  background: rgba(0, 185, 43, 0.2);
  color: #00b92b;
}
#start-step .blink {
  color: #00b92b;
}
#mid-step {
  background: rgba(255, 208, 0, 0.2);
  color: #ffd000;
}
#mid-step .blink {
  color: #ffd000;
}
#last-step {
  background: rgba(255, 7, 48, 0.2);
  color: #ff0730;
}
#last-step .blink {
  color: #ff0730;
}
.box-value {
  font-size: 48px;
  margin: auto 10px;
  transition: 0.6s ease;
}
#start-val {
  color: #00b92b;
}
#mid {
  color: #ffd000;
}
#last {
  color: #ff0730;
}

/* =========== array box designs ========== */
.index {
  margin-top: -40px;
  margin-bottom: 40px;
  color: #ffd000;
}
.array_value {
  padding: 10px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #ffd000;
}
.ansbox {
  background-color: #444;
  height: 50px;
  width: 50px;
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px #181818, -5px -5px 10px #5050503a;
  text-align: center;
  vertical-align: middle;
}
.high {
  background-color: #444;
  margin-left: -10px;
  margin-top: 40px;
  padding: 20px 25px;
  padding-right: 40px;
  font-size: 22px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #181818, -1px -1px 10px #181818;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  color: rgb(0, 122, 255);
  background: rgb(0, 122, 255, 0.2);
}

/* #r1,#r2,#r3,#r4,#r5,#r6,#r7,#r8,#r9,#r10,#r11,#r12,#r13,#r14,#r15{
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #ffd000;
} */

.flip {
  transition: background 0.6s ease-in-out;
  animation: flip 1s cubic-bezier(0.07, 0.84, 0.96, 0.23) forwards;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform-origin: 50%;
}

/* ************** CSS Animations ************ */
@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(270deg);
  }
  /* 50%{
      opacity: 0.5;
      transform: rotateX(270deg);
  } */
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

/* ========== Code for Smaller Screens =========== */

@media screen and (max-width: 780px) {
  #container {
    margin: 60px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  #canvas {
    grid-column: span 3;
    grid-row: 2/3;
    padding: 40px;
  }
  #input {
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 40px;
  }
  #code {
    grid-column: 1/4;
    grid-row: 3/4;
    padding: 40px;
  }
  .list-items {
    line-height: 24px;
    font-size: 16px;
    color: #666;
  }
}

/* ***********************************************
 **************** G A M E   C S S **************
 *********************************************** */

#gameLaunch {
  width: auto;
  background: rgb(255, 208, 0);
  color: #222;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 30px;
  border: none;
  outline: none;
  text-align: center;
}

#gamePopup {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  width: 80%;
  margin: 5% auto;
  background: #252525;
  padding: 50px;
}
#gameInstructions li {
  margin-left: 50px;
}
.gameClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.gameClose:hover,
.gameClose:focus {
  color: rgb(255, 208, 0);
  text-decoration: none;
  cursor: pointer;
}

/* ========= controls ========= */
.input {
  align-items: center;
  background: #2c2c2c;
  width: 70%;
  margin: 10px 20px;
  outline: none;
  border: none;
  padding: 20px 30px;
  border-radius: 20px;
  color: #999;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Sen", sans-serif;
}
.btn-container {
  padding: 0px 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-wrapper {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  padding: 15px 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  margin: 10px;
}
.btn:hover {
  transition: 0.5s ease;
  box-shadow: 10px 10px 10px #0e0e0e, -7px -7px 10px #333333d8;
}
.btn-yellow {
  background: rgb(255, 208, 0);
  color: #222;
}
.btn-green {
  background: #28a745;
  color: #eee;
}
.btn-red {
  background: #ff0730;
  color: #eee;
}
.btn-blue {
  background: rgb(0, 122, 255);
  color: #fff;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
  border-radius: 4px;
  transition: 0.5s ease;
}
::-webkit-scrollbar-corner {
  background: black;
  visibility: hidden;
}

.wrapper ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
.wrapper ::-webkit-scrollbar-thumb {
  background: transparent;
}
.wrapper ::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.wrapper ::-webkit-scrollbar-corner {
  background: transparent;
  visibility: hidden;
}

/* ================= styles for question popup =============== */
.question-modal {
  display: none;
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 20%;
  margin: 50px;
  height: 380px;
  width: 620px;
  background: #111;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #181818, -5px -5px 10px #2c2c2cd8;
}
#modal-head {
  padding: 20px 30px;
  background: #ff0730;
  height: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 0px 0px;
}
#modal-head h2 {
  text-align: left;
  color: #fff;
  text-shadow: none;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 400;
}
.close-btn {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
  /* visibility: hidden; */
}
.close-btn:hover,
.close-btn:focus {
  color: #000000;
  transition: 0.8s ease;
  text-decoration: none;
  cursor: pointer;
}
#modal-content {
  padding: 15px 30px;
}
#question {
  font-size: 20px;
  line-height: 30px;
  height: 40px;
  width: 540px;
  text-align: justify;
}
#answer {
  display: flex;
  justify-content: space-between;
}
.option {
  background: #222;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 3px solid #333;
  border-radius: 30px;
  width: 200px;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.option:hover {
  transition: 0.7s ease;
  background: #ff0730;
  color: #fff;
  border: 3px solid #eee;
}
.option-title {
  font-size: 16px;
}
.population {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffd000;
}
.wrong {
  background: #ff0730;
  color: #fff;
  border: 3px solid #eee;
}
.correct {
  background: #0caa31;
  color: #fff;
  border: 3px solid #eee;
}
.blur {
  filter: blur(20px);
}
.disable {
  filter: blur(10px);
}

/* places */
#gameboard {
  width: 1310px;
  height: 550px;
  background: #222;
  margin: 10px auto;
  padding: auto;
  border-radius: 5px;
}
#up {
  height: 170px;
  padding-bottom: 0px;
}
#places {
  width: 1190px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 80px;
  margin-left: 55px;
  margin-bottom: 0px;
}
.place {
  display: inline-block;
  width: 130px;
  height: 60px;
  border-radius: 20px;
  background: #fcd62f;
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 50px #000000;
}
.population-count {
  color: #ff0730;
  font-size: 20px;
  font-weight: 700;
}
.icon {
  text-align: center;
}
.icon img {
  margin-top: -60px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px #000000ab;
}
#trail {
  margin-top: 0px;
  width: 100%;
  padding: 0px;
  height: 150px;
  border-bottom: 2px solid #444;
  background: #0a0a0a;
  border-radius: 20px 20px 0px 0px;
  box-shadow: -0px 10px 50px #000;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.spot {
  height: 125px;
  width: 140px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 255, 0, 0.116)),
    url("../images/grassreal.jpg");
  background-position: center;
  background-size: cover;
  border-top: none;
  border-radius: 10px 10px 20px 20px;
  box-shadow: 5px 5px 10px #000000, -5px -0px 10px #1a1a1a67;
  box-shadow: 5px 5px 10px #000, -5px -0px 10px #000;
}
.spot:nth-child(1) {
  border-left: none;
  border-radius: 20px 10px 20px 0px;
  box-shadow: 5px 0px 10px #000000, -0px -0px 10px #000000d8;
}
.spot:nth-child(8) {
  border-right: none;
  border-radius: 10px 20px 0px 20px;
  box-shadow: 0px 5px 10px #000000, -5px -0px 10px #000000;
}
.cop {
  position: absolute;
  top: 230px;
  left: 0px;
  width: 60px;
  border-radius: 50%;
  background: rgb(43, 0, 59);
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
#bomb {
  width: 50px;
  border-radius: 50%;
}
.blinkbomb {
  animation-name: activeblink;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
.highlight {
  animation-name: glowinred;
  animation-duration: 1.5s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-in;
}
#bomb:hover {
  transform: scale(1.2);
  transform: rotateZ(360deg) scale(1.4);
  transition: 0.7 s ease-in;
  border-radius: 50%;
}
#content-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 50px;
}
#clickIcon {
  width: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* tooltip label design */
.tooltip {
  display: block;
  position: relative;
  text-align: left;
  width: max-content;
}

.tooltip .right {
  width: max-content;
  min-width: 200px;
  max-width: 900px;
  top: 20px;
  left: 0px;
  margin-left: 0px;
  transform: translate(0, -50%);
  padding: 5px 20px;
  color: #ddd;
  background-color: #2c2c2c;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px #000000;
  visibility: visible;
}

.tooltip .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}

.tooltip .right i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  background-color: #2c2c2c;
  box-shadow: 0 1px 8px #000000;
}

.tooltip p {
  padding-left: 10px;
  padding-bottom: 10px;
}

#status {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 24px;
  font-weight: 700;
}

/* ******************** respective animation classes for places specified ********************* */

.animtext {
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

.statusOne::after {
  content: "Don't worry! The Bomb is diffused **‿**";
  color: #27cc2c;
  animation-name: statusOne;
  animation-duration: 50s;
}
.statusTwo::after {
  content: "Don't worry! The Bomb is diffused **‿**";
  color: #27cc2c;
  animation-name: statusTwo;
  animation-duration: 40s;
}
.statusThree::after {
  content: "Don't worry! The Bomb is diffused **‿**";
  color: #27cc2c;
  animation-name: statusThree;
  animation-duration: 50s;
}
.statusFour::after {
  content: "Don't worry! The Bomb is diffused **‿**";
  color: #27cc2c;
  animation-name: statusFour;
  animation-duration: 35s;
}
.statusFive::after {
  content: "Bomb has been diffused. All systems operational **‿**";
  color: #27cc2c;
  animation-name: statusFive;
  animation-duration: 50s;
}
.statusSix::after {
  content: "Bomb has been diffused. **‿**";
  color: #27cc2c;
  animation-name: statusSix;
  animation-duration: 40s;
}
.statusSeven::after {
  content: "Don't worry! The Bomb is diffused **‿**";
  color: #27cc2c;
  animation-name: statusSeven;
  animation-duration: 50s;
}
.statusEight::after {
  content: "We are safe as no bomb is planted in our City **‿**";
  color: #27cc2c;
  animation-name: statusEight;
  animation-duration: 67s;
}

.animate {
  animation-delay: 5s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
.park {
  animation-duration: 45s;
  animation-name: movetopark;
}
.school {
  animation-duration: 35s;
  animation-name: movetoschool;
}
.temple {
  animation-duration: 45s;
  animation-name: movetotemple;
}
.hospital {
  animation-duration: 28s;
  animation-name: movetohospital;
}
.mall {
  animation-duration: 45s;
  animation-name: movetomall;
}
.bus {
  animation-duration: 35s;
  animation-name: movetobus;
}
.railway {
  animation-duration: 45s;
  animation-name: movetorailway;
}
.notfound {
  animation-name: notfound;
  animation-duration: 60s;
}

/* ************** CSS Animations [respective animation keyframes for all specified places] ************ */

/* animation for label - index 1 */
@keyframes statusOne {
  0% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 100 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  10% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 100 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  15% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  25% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  30% {
    content: "Yes that would be cool! and look for any threat in target population area O_O";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  35% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  45% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  50% {
    content: "This place has a population of around 800 which is higher than the target. Probably We should search left side places";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  60% {
    content: "This place has a population of around 800 which is higher than the target. Probably We should search left side places";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  65% {
    content: "Moving left, neglecting the right half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  72% {
    content: "The population here is around 500 which is higher than the target. We should search left side places as population decreases as we move left";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  80% {
    content: "The population here is around 500 which is higher than the target. We should search left side places as population decreases as we move left";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  85% {
    content: "Moving left, neglecting the right half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  90% {
    content: "Moving left, neglecting the right half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  93% {
    content: "Hmmm... this place has a population around 100 people. They must've targeted this place O.O";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  96% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  100% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
}

/* animmation for label - index 2 */
@keyframes statusTwo {
  0% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 500 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  10% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 500 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  15% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  30% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  35% {
    content: "Yes that would be cool! and look for any threat in target population area O_O";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  40% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  60% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  65% {
    content: "This place has a population of around 800 which is higher than the target. We should search left side places because population will decrease as we move left";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  78% {
    content: "This place has a population of around 800 which is higher than the target. We should search left side places because population will decrease as we move left";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  80% {
    content: "Moving left, neglecting the right half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  90% {
    content: "Moving left, neglecting the right half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  93% {
    content: "Hmmm... this place has a population around 500 people. They must've targeted this place O.O";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  96% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  100% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
}

/* animmation for label - index 3 */
@keyframes statusThree {
  0% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 100 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  10% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 600 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  15% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  25% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  30% {
    content: "Yes that would be cool! and look for any threat in the target area O_O";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  35% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  45% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  50% {
    content: "This place has a population of around 800 which is higher than the target. Probably We should search left side places";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  60% {
    content: "This place has a population of around 800 which is higher than the target. Probably We should search left side places";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  65% {
    content: "Moving left, neglecting the right half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  72% {
    content: "The population here is around 500 (lower than the target). We should search right side places as population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  80% {
    content: "The population here is around 500 (lower than the target). We should search right side places as population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  85% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  90% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  93% {
    content: "Hmmm... this place has a population around 600 people. They must've targeted this place O.O";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  96% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  100% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
}

/* animmation for label - index 4 */
@keyframes statusFour {
  0% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 500 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  10% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 500 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  15% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  35% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  40% {
    content: "Yes that would be cool! and look for any threat in target population area O_O";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  55% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  80% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  85% {
    content: "Hmmm... this place has a population around 800 people. We found it in our First attempt **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  90% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  100% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
}

/* animmation for label - index 5 */
@keyframes statusFive {
  0% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 1000 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  10% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 1000 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  15% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  25% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  30% {
    content: "Yes that would be cool! and look for any threat in the target population area O_O";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  35% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  45% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  50% {
    content: "The population here is around 800 which is lower than the target. We should search in right area as population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  60% {
    content: "The population here is around 800 which is lower than the target. We should search in right area as population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  65% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  72% {
    content: "This place has a population of around 1500 which is a bit higher than the target. We should search left side places";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  80% {
    content: "This place has a population of around 1500 which is a bit higher than the target. We should search left side places";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  85% {
    content: "Moving left, neglecting the right half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  90% {
    content: "Moving left, neglecting the right half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  93% {
    content: "Hmmm... this place has a population around 100 people. They must've targeted this place O.O";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  96% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  100% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
}

/* animmation for label - index 6 */
@keyframes statusSix {
  0% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 1500 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  10% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 1500 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  15% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  30% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  35% {
    content: "Yes that would be cool! and look for any threat in target population area O_O";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  40% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  60% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  65% {
    content: "This place has a population of around 800 which is lower than the target. We should search right side places because population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  78% {
    content: "This place has a population of around 800 which is lower than the target. We should search right side places because population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  80% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  90% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  93% {
    content: "Hmmm... this place has a population around 1500 people. They must've targeted this place O.O";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  96% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  100% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
}

/* keyframes for label - index - 7 */
@keyframes statusSeven {
  0% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 2000 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  10% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 2000 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  15% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  25% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  30% {
    content: "Yes that would be cool! and look for any threat in the target area O_O";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  35% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  45% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  50% {
    content: "The population here is around 800 (lower than the target), We should search right side places because the population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  60% {
    content: "The population here is around 800 (lower than the target), We should search right side places because the population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  65% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  72% {
    content: "The population here is around 1500 (lower than the target). We should search right side places because the population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  80% {
    content: "The population here is around 1500 (lower than the target). We should search right side places because the population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  85% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  90% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  93% {
    content: "Hmmm... this place has a population around 2000 people. They must've targeted this place O.O";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  96% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  100% {
    content: "Woohoo we found it. Let's start action and diffuse it! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
}

/* keyframes for label - index - 8 */
@keyframes statusEight {
  0% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 5000 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  7% {
    content: "We got some clue that the attackers have planted the bomb in a place where they can target around 5000 people";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  8% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  20% {
    content: "Searching the whole city would take time. Why not divide the city in two parts of less population [LEFT] and more population [RIGHT]";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  25% {
    content: "Yes that would be cool! and look for any threat in the target area O_O";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  28% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  38% {
    content: "'Mid found' moving towards centre of the city ¬_¬ then we decide which side to go next. ^o^ ";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  40% {
    content: "The population here is around 800 (lower than the target), We should search right side places because the population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  50% {
    content: "The population here is around 800 (lower than the target), We should search right side places because the population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  52% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  63% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  64% {
    content: "The population here is around 1500 (lower than the target). We should search right side places because the population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  71% {
    content: "The population here is around 1500 (lower than the target). We should search right side places because the population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  72% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  81% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  83% {
    content: "The population here is around 2000 (lower than the target). We should search right side places because the population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  90% {
    content: "The population here is around 2000 (lower than the target). We should search right side places because the population increases as we move right";
    color: #ff0730;
    transition: content 0.8s ease;
  }
  94% {
    content: "Moving right, neglecting the left half ¬_¬";
    color: #ffd000;
    transition: content 0.8s ease;
  }
  95% {
    content: "There's no place in this city with a population of 5000 but we must alert our neighbour cities Intelligence agencies! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
  100% {
    content: "There's no place in this city with a population of 5000 but we must alert our neighbour cities Intelligence agencies! **‿**";
    color: #27cc2c;
    transition: content 0.8s ease;
  }
}

/* glow animation */
@keyframes glowinred {
  0% {
    transform: scale(0.9);
    box-shadow: 0px 0px 20px #000;
  }
  50% {
    transform: scale(1.3);
    box-shadow: 0px 0px 20px #ff0730;
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 20px #000;
  }
}

/* active */
@keyframes activeblink {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* moving towards park */
@keyframes movetopark {
  0% {
    top: 230px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  10% {
    top: 350px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  30% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
  }
  35% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  45% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  50% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  60% {
    top: 350px;
    left: 320px;
    box-shadow: 0px 0px 20px #000;
  }
  65% {
    top: 230px;
    left: 320px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  75% {
    top: 230px;
    left: 320px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  80% {
    top: 350px;
    left: 320px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  85% {
    top: 350px;
    left: 150px;
    box-shadow: 0px 0px 20px #000;
  }
  90% {
    top: 230px;
    left: 150px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  95% {
    top: 230px;
    left: 150px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1.4);
  }
  100% {
    top: 230px;
    left: 150px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1);
  }
}

/* moving towards temple */
@keyframes movetoschool {
  0% {
    top: 230px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  10% {
    top: 350px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  40% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
  }
  45% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  55% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  65% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  80% {
    top: 350px;
    left: 320px;
    box-shadow: 0px 0px 20px #000;
  }
  85% {
    top: 230px;
    left: 320px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  90% {
    top: 230px;
    left: 320px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1.4);
  }
  100% {
    top: 230px;
    left: 320px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1);
  }
}

/* moving towards School */
@keyframes movetotemple {
  0% {
    top: 230px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  10% {
    top: 350px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  30% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
  }
  35% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  45% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  50% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  60% {
    top: 350px;
    left: 320px;
    box-shadow: 0px 0px 20px #000;
  }
  65% {
    top: 230px;
    left: 320px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  75% {
    top: 230px;
    left: 320px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  80% {
    top: 350px;
    left: 320px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  85% {
    top: 350px;
    left: 485px;
    box-shadow: 0px 0px 20px #000;
  }
  90% {
    top: 230px;
    left: 485px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  95% {
    top: 230px;
    left: 485px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1.4);
  }
  100% {
    top: 230px;
    left: 485px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1);
  }
}

/* moving towards hospital */
@keyframes movetohospital {
  0% {
    top: 230px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  20% {
    top: 350px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  60% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
  }
  75% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  90% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1.4);
  }
  100% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 20px #27cc2c;
    transform: scale(1);
  }
}

/* moving towards bus */
@keyframes movetomall {
  0% {
    top: 230px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  10% {
    top: 350px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  30% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
  }
  35% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  45% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  50% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  60% {
    top: 350px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
  }
  65% {
    top: 230px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  75% {
    top: 230px;
    left: 985px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  80% {
    top: 350px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  85% {
    top: 350px;
    left: 820px;
    box-shadow: 0px 0px 20px #000;
  }
  90% {
    top: 230px;
    left: 820px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  95% {
    top: 230px;
    left: 820px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1.4);
  }
  100% {
    top: 230px;
    left: 820px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1);
  }
}

/* moving towards railway */
@keyframes movetobus {
  0% {
    top: 230px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  10% {
    top: 350px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  40% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
  }
  45% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  55% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  65% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  80% {
    top: 350px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
  }
  85% {
    top: 230px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  90% {
    top: 230px;
    left: 985px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1.4);
  }
  100% {
    top: 230px;
    left: 985px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1);
  }
}

/* moving towards mall */
@keyframes movetorailway {
  0% {
    top: 230px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  10% {
    top: 350px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  30% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
  }
  35% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  45% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  50% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  60% {
    top: 350px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
  }
  65% {
    top: 230px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  75% {
    top: 230px;
    left: 985px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  80% {
    top: 350px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  85% {
    top: 350px;
    left: 1150px;
    box-shadow: 0px 0px 20px #000;
  }
  90% {
    top: 230px;
    left: 1150px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  95% {
    top: 230px;
    left: 1150px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1.4);
  }
  100% {
    top: 230px;
    left: 1150px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1);
  }
}

/* moving till last no place found */
@keyframes notfound {
  0% {
    top: 230px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  10% {
    top: 350px;
    left: -10px;
    box-shadow: 0px 0px 20px #000;
  }
  25% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
  }
  30% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  40% {
    top: 230px;
    left: 650px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  45% {
    top: 350px;
    left: 650px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  55% {
    top: 350px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
  }
  60% {
    top: 230px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(0.9);
  }
  65% {
    top: 230px;
    left: 985px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  70% {
    top: 350px;
    left: 985px;
    box-shadow: 0px 0px 20px #000;
    transform: scale(1);
  }
  75% {
    top: 350px;
    left: 1150px;
    box-shadow: 0px 0px 20px #000;
  }
  80% {
    top: 230px;
    left: 1150px;
    box-shadow: 0px 0px 30px #000;
    transform: scale(0.9);
  }
  82% {
    top: 230px;
    left: 1150px;
    box-shadow: 0px 0px 30px #ff0730;
    transform: scale(1.4);
  }
  88% {
    top: 350px;
    left: 1150px;
    box-shadow: 0px 0px 30px #000;
    transform: scale(1);
  }
  93% {
    top: 350px;
    left: 1300px;
    box-shadow: 0px 0px 30px #000;
    transform: scale(0.9);
  }
  95% {
    top: 350px;
    left: 1300px;
    box-shadow: 0px 0px 30px #27cc2c;
    transform: scale(1.4);
  }
  100% {
    top: 350px;
    left: 1300px;
    box-shadow: 0px 0px 20px #27cc2c;
    transform: scale(1);
  }
}

/* ********************** animation part ends ********************** */

/* ========== Code for Smaller Screens =========== */

@media screen and (max-width: 780px) {
}

/* ************************** final improvements ************************* */
#simulator-area {
  display: none;
}
